body {
    line-height: 2;
    border : 2px solid rgb(8, 66, 8);
}
body{
    width: 800px;
    margin: 20 auto;
}
.ma-classe1{
    font-family: 'Raleway', sans-serif;
    text-decoration: underline;
    /* border: 2px solid purple; */
    border-bottom: 2px solid black;
    border-top: 3px solid blue;
}
.ma-classe2{
 font-family: 'Shadows Into Light', cursive;
 font-size: 34px;
 text-align: right;
}
.ma-classe3{
    font-weight: bold;
}
.ma-classe4{
    font-style: italic;
}
h1{
    margin: 50 px 0;
}
ul{
    list-style-type: none;
}
ol{
    list-style-type: upper-roman;
}
img{
    border-radius: 20px 20px 0px 0px;
} 
#paragraphe-final{
    background-image: url("https://img.static-rmg.be/a/view/q75/w720/h405/2185319/2183470-png.png");
    background-repeat: no-repeat;
    width: 35%;
    color: white;
}
p {
width: 50%;
margin-bottom: 60px;
}
#final{
    background-color: pink;
    padding: 20px 20px;
    margin: 20px 20px;
    height: 20px;
    overflow: hidden;
    color: aqua;
}